<h2 class="section-title">{{ .titles.cfp }}</h2>

<p itemprop="description">PyCon Indonesia is pleased to announce that the Call For Proposals is now open. We are calling out for speakers to share
    their Python knowledge (in the form of Talks, Workshop and Posters) which would intrigue the Python community at this
    event! We’re looking for proposals on every aspect of Python: from basic to advanced levels. We’re interested to see
    all content that’s interesting and engaging to the Python community, whether it be tutorials, case studies, interactive
    sessions, or even how you and your organization works with Python. So if you have something that the community might
    be interested in, let us know; and don’t worry if you’re a seasoned engineer or a novice with no experience of presenting
    at a conference before; what matters is the content that you’ll be sharing with the community.</p>

<p><a class="button" href="/call-for-paper">Learn more</a></p>

