<h2 class="section-title">{{ .titles.sponsors }}</h2>

<br>
<h3 class="text-center">Venue</h3>
<hr>
<ul class="sponsors-list text-center">
  {{ range $sponsor := .sponsors.venue }} {{ partial "list_sponsors" . }} {{ end }}
</ul>

<br>
<h3 class="text-center">Platinum</h3>
<hr>
<ul class="sponsors-list text-center">
  {{ range $sponsor := .sponsors.platinum }}
  {{ partial "list_sponsors" . }}
  {{ end }}
</ul>

<br>
<h3 class="text-center">Silver</h3>
<hr>
<ul class="sponsors-list text-center">
  {{ range $sponsor := .sponsors.silver }}
  {{ partial "list_sponsors" . }}
  {{ end }}
</ul>
